<section class="flex flex-col items-center pt-10 px-4 pb-5 overflow-y-hidden">
  <!-- Content -->
  <div class="text-center max-w-4xl mx-auto mb-12">
    <h1
      class="text-[6rem] md:text-[10rem] font-bold leading-none tracking-tight text-transparent bg-clip-text bg-linear-to-b from-white via-white to-white/20 select-none drop-shadow-2xl py-2"
    >
      Tymon
    </h1>
    <p class="text-gray-300 text-xl md:text-3xl max-w-4xl mx-auto mt-8 font-light">
      {{ 'titleSection.description' | translate }}
    </p>
  </div>

  <!-- Hero Images -->
  <div class="relative w-full max-w-6xl mx-auto mt-8 flex justify-center items-end gap-4 md:gap-8">
    <!-- Left Image (Guy) -->
    <div
      class="hidden md:block max-w-1/3 transform md:-translate-x-8 lg:-translate-x-12 translate-y-5 z-10"
    >
      <img
        src="images/guy-card.png"
        alt="User Experience"
        class="w-full h-auto object-contain drop-shadow-2xl hover:scale-105 transition-transform duration-500"
      />
    </div>

    <!-- Center Image (Login) -->
    <div class="max-w-1/3 translate-y-5 z-20 relative">
      <img
        src="images/login-app.png"
        alt="Tymon Login"
        class="w-full h-auto object-contain drop-shadow-2xl hover:scale-105 transition-transform duration-500"
      />
    </div>

    <!-- Right Image (Dashboard) -->
    <div
      class="hidden md:block max-w-1/3 transform md:translate-x-8 lg:translate-x-12 translate-y-5 z-10"
    >
      <img
        src="images/app-dashboard.png"
        alt="Dashboard"
        class="w-full h-auto object-contain drop-shadow-2xl hover:scale-105 transition-transform duration-500"
      />
    </div>
  </div>
</section>
