<div class="relative">
  <button
    (click)="toggleDropdown()"
    class="flex items-center gap-1 px-2 py-1 bg-white rounded-lg shadow-md hover:bg-gray-50 transition-colors text-xs"
  >
    <span class="material-icons text-gray-600 text-sm!">language</span>
    <span class="uppercase font-medium text-gray-700">{{ currentLang() }}</span>
    <span
      class="material-icons text-gray-400 text-sm! transition-transform duration-200"
      [class.rotate-180]="isDropdownOpen()"
      >expand_more</span
    >
  </button>

  <div
    class="absolute right-0 mt-1 w-36 bg-white rounded-md shadow py-0.5 border border-gray-100 transition-all duration-200 ease-out transform origin-top-right z-50"
    [ngClass]="{
      'opacity-0 scale-95 pointer-events-none': !isDropdownOpen(),
      'opacity-100 scale-100 pointer-events-auto': isDropdownOpen()
    }"
  >
    @for (lang of languages; track lang.code) {
    <button
      (click)="changeLang(lang.code)"
      class="w-full text-left px-3 py-1 text-sm text-gray-700 hover:bg-gray-50 flex items-center justify-between group"
    >
      <span>{{ lang.label }}</span>
      @if (currentLang() === lang.code) {
      <span class="material-icons text-blue-500 text-xs">check</span>
      }
    </button>
    }
  </div>
</div>
