@import 'tailwindcss';

@theme {
  --font-sans: 'Space Grotesk', sans-serif;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('assets/font/space-grotesk.ttf') format('truetype-variations');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
